<br/>
    <%= stylesheet_link_tag "ext-all" %>
    <%= stylesheet_link_tag "feed-viewer" %>

    <%= javascript_include_tag "ext/adapter/ext/ext-base" %>
    <%= javascript_include_tag "ext/ext-all" %>

    <%= javascript_include_tag "tpd/SearchField" %>
    <%= javascript_include_tag "tpd/admin-kits/FeedViewer" %>
    <%= javascript_include_tag "tpd/admin-kits/FeedGrid" %>
    <%= javascript_include_tag "tpd/admin-kits/SearchProduct" %>
    <%= javascript_include_tag "tpd/admin-kits/MainPanel" %>
    <%= javascript_include_tag "tpd/admin-kits/FeedPanel" %>

<div id="header"><div style="float:right;margin:5px;" class="x-small-editor"></div></div>
<div id="entry-div"></div>
