<!-- =======content middle=======-->
<%= @order.freight_ship_to %>
<%= @order.freight_options %>
<%= error_messages_for 'order' %>
<div class="content_shopping_checkout">
  <h2>Check Out Proccess</h2>
  <div class="steps">
    <p class="one deactive">Login</p>
    <p class="two deactive">Customer Information<span></span></p>
    <p class="three deactive">Shipping Method</p>
    <p class="four deactive">Payment Information</p>
    <p class="five active">Confirmation</p>
  </div>
  <br />
<div id="checkout-coupon">
  <h3>Got a Coupon?</h3>
  <div id="coupon-error"></div>
  If so please enter it below: <br />
  <% form_remote_tag :url => {:action => "redeem_coupon"} do %>

  <%= text_field(:coupon, :code) %>
  <%= submit_tag "Redeem" %>
  <% end %>
</div>
<br/>
<br/>
  <h3> Finish your order </h3>
  <table class="finish_shopping_table" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <td><b> Name </b> </td>
        <td><b> Quantity </b> </td>
        <td><b> Unit Price </b> </td>
        <td><b> Net Price </b> </td>
      </tr>
    </thead>
    <tbody>




      <% for c in @cart.cart_items %>
      <% if c.kit %>
      <tr>
        <td>
          <b><%= "#{c.kit.kit_type.camelize} Kit for" %></b><br/>
          <b><%= "#{c.kit.product.name}" %></b><br/>
          <b><i>Includes:</i></b>
        <% for p in c.kit.products %>
        <br/>
        <%= p.name %>
        <% end %>
        </td>
        <td><center>
            <b><%= c.quantity %></b>
            </center></td>
        <td>
            $ <%= c.product_price %>
          </td>
        <td>$ <%= c.price %> </td>
      </tr>
      <% elsif c.product %>
      <tr>
        <td>
          <%= c.product.name %>
        </td>
        <td><center>
            <b><%= c.quantity %></b>
            </center></td>
        <td>
            $ <%= c.product_price %>
          </td>
        <td>$ <%= "#{(c.product_price*c.quantity).to_s}" %> </td>
      </tr>
      <% end %>
        <% if c.has_warranty? %>
        <tr>
           <td colspan="2"><%= "<b>#{c.warranty.title}</b> for #{c.product.name}" %></td>
           <td><%= "$ #{(c.warranty.price).to_s}" %></td>
           <td><%= "$ #{(c.warranty.price*c.quantity).to_s}" %></td>
        </tr>
        <% end %>
      <% end %>




      <tr id="taxes">
        <td colspan="2"><b>Taxes</b>
          <br/><%= @order.billing_state  %>
        </td>
        <td><center><%= state_tax(@order.billing_state) * 100%> %
          </center></td>
        <td>$ <%= round @order.taxes %> </td>
      </tr>
      <tr>
        <td colspan="3"><b>Shipping & Handling</b>
          <br/><%= "#{@order.carrier} : #{@order.shipping_method}"  %>
        </td>
        <td>$ <%= @order.shipping_approx %> </td>
      </tr>
      <tr>
        <td colspan="3" bgcolor="#CCCCCC"><b>TOTAL</b> </td>
        <td id="total"><b>$ <%= @cart.totalize + @order.shipping_approx %> <% #= price_after_taxes(@order, @cart) + @order.shipping_approx %></b> </td>
      </tr>
    </tbody>
  </table>

  <h5> Comments and suggestions </h5>
  <%= text_area :order, :front_comment, :cols => 40, :rows => 5, :value => "Please enter any comments or suggestions regarding this order" %></br>
  <%= observe_field :order_front_comment, :url => { :controller => :orders, :action => :front_comment },
      :with => "'c='+value" %>
  <h5> Ship to </h5>
  <%= print_shipping_info(@order) %>
  <h5> Bill to </h5>
  <%= print_billing_info(@order) %>
  <br>
  <h5>Pay with:</h5>
  <br>
  <h3> Paypal </h3>
  <div class="clear">
    <%= link_to "", {:action => :gateway_link, :id => @order.id, :payment_method => "paypal"}, {:class => "paypal"} %>
    <!-- a href="" class="paypal"></a -->
  </div>
  <div class="line_dotted"></div>
  <h3> Google Checkout </h3>
  <div class=" clear">
    <!-- a href="" class="google_check"></a -->
    <%= link_to "", {:action => :gateway_link, :id => @order.id, :payment_method => "google"}, {:class => "google_check"} %>
  </div>
  <div class="line_dotted"></div>
  <% form_for @order, :url => {:action => "direct_transaction"}, :html => {:name => 'creditform'} do |f| %>
  <!--       <form action="/cart/direct_transaction" class="edit_order" id="edit_order_37" method="post"> -->
  <div style="margin: 0pt; padding: 0pt;">
  </div>
  <h3> Credit Card </h3>
  <div class="content_cards_logos">
<!-- img src="/aimages/front/american_payment.jpg" / -->&nbsp;
<img src="/images/front/visa_payment.jpg" />&nbsp;
<img src="/images/front/master_payment.jpg" /></div>
  <table>
    <tr>
      <td class="text_form">Name: </td>
      <td ><input id="order_cc_owner" name="order[cc_owner]" size="30" type="text"></td>
    </tr>
    <tr>
      <td class="text_form">Number: </td>
      <td><input id="order_cc_number" name="order[cc_number]" size="30" type="text">
      </td>
    </tr>
    <tr>
      <td class="text_form">Type: </td>
      <td><select id="order_cc_type" name="order[cc_type]">
          <option value=""> - Select a company - </option>
          <option value="mastercard"> Mastercard </option>
          <option value="visa"> Visa </option>
        </select></td>
    </tr>
    <tr>
      <td class="text_form">Expiration Date <br />
        <b> (MM/YY) </b>: </td>
      <td><input id="order_cc_expires" name="order[cc_expires]" size="10" type="text"></td>
    </tr>
    <tr>
      <td class="text_form"> CVV <br />
        ( <b> Verification Code </b> ): </td>
      <td><input id="order_cvvnumber" name="order[cvvnumber]" size="30" type="text">
    </tr>
    <tr>
      <td></td>
      <td><% #= submit_tag %>
        <a href="javascript:submit_cc();" class="general_button"><span class="cierre_boton_checkout"></span><b>Finish</b></a></div><br /><br />
<!--<a href="" class="general_button"><span class="cierre_boton_checkout"></span><b>Submit</b></a> -->
</td>
</tr>
</table>
<% end %>
</div>
<!-- =======end of content middle=======-->
