<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Feed Viewer 3</title>

    <!--script language="javascript" src="../state/save-state.php"></script -->
    <!-- script language="javascript" src="../state/get-state.php"></script -->
    <!-- script language="javascript" src="../state/SessionProvider.js"></script -->
    <!-- link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" / -->

    <%= stylesheet_link_tag "ext-all" %>
    <% #= stylesheet_link_tag "feed-viewer" %>

    <%= javascript_include_tag "ext/adapter/ext/ext-base" %>
    <%= javascript_include_tag "ext/ext-all" %>

    <% #= javascript_include_tag "feed-viewer/TabCloseMenu" %>
    <% #= javascript_include_tag "tpd/SearchField" %>
    <% #= javascript_include_tag "tpd/ContentView" %>
    <% #= javascript_include_tag "feed-viewer/FeedViewer" %>
    <% #= javascript_include_tag "feed-viewer/FeedGrid" %>
    <% #= javascript_include_tag "feed-viewer/MainPanel" %>
    <% #= javascript_include_tag "feed-viewer/FeedPanel" %>
    <% #= javascript_include_tag "feed-viewer/FeedWindow" %>

    <%= javascript_include_tag "tpd/admin/specs/SpecsViewer" %>
    <%= javascript_include_tag "ext/examples/examples" %>


</head>

<body>
<link rel="stylesheet" type="text/css" href="../lib.css" /><div id="lib-bar" class="x-toolbar" style="border-width:0 1px 1px"><div id="lib-bar-inner"> <span>Theme:</span>&#160;&#160;<select id="exttheme"><option value="default">Ext Blue</option><option value="gray">Gray Theme</option></select></div></div>

<h1>Windows with Layouts</h1>
<p>This example shows how Ext containers can be nested in windows to create advanced layouts.</p>
<input type="button" id="show-btn" value="Show Window"/><br/><br/>
<p>Note that the js is not minified so it is readable. See <a href="layout.js">layout.js</a> for the full source code.</p>
</body>
</html>
