    <!-- =======content middle=======-->
    <div class="content_shopping_checkout">
<% if @password_changed %>
      <h3> Please login </h3>
      <% form_tag session_path, {:name => 'loginform', :class => 'login' } do -%>
      <!-- form action="/session" method="post" class="login" -->
        <label>
          <b for="email"> Email </b>
          <%= text_field_tag 'email' %>
        </label>
        <label>
          <b for="password"> Password </b>
          <%= password_field_tag 'password' %>
        </label>
        <label>
          <b for="remember_me"> Remember me: </b>
          <%= check_box_tag 'remember_me' %>
        </label>
        <label>
        <b>&nbsp;</b>
        <a href="javascript:document.loginform.submit();" class="general_button"><span class="cierre_boton_checkout"></span><b>Log in</b></a></label>
      <% end %>
<% end %>


<% if @valid && !@password_changed %>
      <h3> Enter your new password </h3>
      <% form_for :user, :url => {:action => "password_new"}, :html => { :class => 'signup', :name => 'passwordnewform' } do |f| -%>
      <!-- small> Fields in bold are required </small><br / -->
        <label> <b> New Password </b>
          <%= f.password_field :crypted_password %>
        </label><br/>
        <label> <b> Confirm Password </b>
          <%= f.password_field :crypted_password %>
        </label>
        <b> </b>
        <label><b>&nbsp;</b><a href="javascript:document.passwordnewform.submit();" class="general_button"><span class="cierre_boton_checkout"></span><b>Send</b></a></label>
        <%= f.hidden_field :i, :value => @i %>
      <% end %>
<% end %>

    </div>
    <!-- =======end of content middle=======-->
