<html>

<head>
</head>

<body lang=ES link=blue vlink=purple style='tab-interval:35.4pt'>

<div class=Section1>

<div align=center>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=590
 style='width:442.5pt;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
 0cm 0cm 0cm 0cm'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td style='padding:0cm 0cm 0cm 0cm'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 align=left
   width="100%" style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:1184;
   mso-table-lspace:2.25pt;mso-table-rspace:2.25pt;mso-table-anchor-vertical:
   paragraph;mso-table-anchor-horizontal:column;mso-table-left:left;mso-padding-alt:
   0cm 0cm 0cm 0cm'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
    <td style='padding:0cm 0cm 0cm 0cm'>

    <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
    line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
    mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES;
    mso-no-proof:yes'>
    <img width=290 height=77
    src="http://200.116.149.196:3000/images/front/The Printer Depot logo.gif" alt="The Printer Depot" v:shapes="Imagen_x0020_1"><![endif]></span><span
    style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
    "Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
    </td>
   </tr>
  </table>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td style='padding:0cm 0cm 0cm 0cm'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
   style='mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>

   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
    <td style='padding:0cm 0cm 0cm 0cm'>
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
     style='mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
     <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
      <td valign=top style='padding:0cm 0cm 0cm 0cm'>
      <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
       style='mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
       <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
        <td valign=top style='padding:0cm 0cm 0cm 0cm'>
        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
         width="100%" style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:
         1184;mso-padding-alt:0cm 0cm 0cm 0cm'>

         <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:
          yes'>
          <td width=580 valign=top style='width:435.0pt;padding:0cm 0cm 0cm 0cm'>
          <div align=center>
          <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
           style='mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
           0cm 0cm 0cm 0cm'>
           <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:
            yes'>
            <td valign=top style='padding:0cm 0cm 0cm 0cm'>
            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
            line-height:normal'><b style='mso-bidi-font-weight:normal'><span
            style='font-size:12.0pt;font-family:"Verdana","sans-serif";
            mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
            "Times New Roman";mso-fareast-language:ES;mso-no-proof:yes'><!--[if gte vml 1]><v:shape
             id="Imagen_x0020_2" o:spid="_x0000_i1030" type="#_x0000_t75"
             alt="Everything for your imaging needs." style='width:442.5pt;
             height:60pt;visibility:visible;mso-wrap-style:square'>
             <v:imagedata src="http://200.116.149.196:3000/images/front/tagline.jpg" o:title="Everything for your imaging needs"/>
            </v:shape><![endif]--><![if !vml]><img width=590 height=80
            src="http://200.116.149.196:3000/images/front/tagline.jpg"
            alt="Everything for your imaging needs." v:shapes="Imagen_x0020_2"><![endif]></span></b><span
            style='font-size:12.0pt;font-family:"Times New Roman","serif";
            mso-fareast-font-family:"Times New Roman";mso-fareast-language:
            ES'><o:p></o:p></span></p>
            </td>
           </tr>

          </table>
          </div>
          </td>
         </tr>
        </table>
        </td>
       </tr>
      </table>
      </td>

     </tr>
    </table>
    </td>
   </tr>
  </table>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2'>
  <td style='padding:0cm 0cm 0cm 0cm'>

  <div align=center>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
   style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
   0cm 0cm 0cm 0cm'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
    <td style='padding:0cm 0cm 0cm 0cm'></td>
   </tr>
   <tr style='mso-yfti-irow:1'>
    <td width="100%" style='width:100.0%;padding:0cm 0cm 0cm 0cm'>
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
     width="100%" style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:
     1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
     <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
      height:18.75pt'>

      <!-- DATE -->
      <td style='padding:0cm 0cm 0cm 0cm;height:18.75pt'>
      <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=1
       style='width:.75pt;mso-cellspacing:0cm;mso-yfti-tbllook:1184;mso-padding-alt:
       0cm 0cm 0cm 0cm'>
       <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
        <td style='padding:0cm 0cm 0cm 0cm'></td>
       </tr>
      </table>
      </td>

      <!-- ORDER ID -->
      <td style='padding:0cm 0cm 0cm 0cm;height:18.75pt'>
      <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
      line-height:normal'><b><span style='font-size:12.0pt;font-family:"Arial","sans-serif";
      mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>Order
      Number: <%= @order.id %></span></b><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
      mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>

      </td>

      <!-- DATE -->
      <td style='padding:0cm 0cm 0cm 0cm;height:18.75pt'>
      <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:
      .0001pt;text-align:right;line-height:normal'><b><span style='font-size:
      12.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
      mso-fareast-language:ES'><%= Date.today.strftime("%A %B %d, %Y") %></span></b><span
      style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
      "Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
      </td>
      <td style='padding:0cm 0cm 0cm 0cm;height:18.75pt'>
      <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
      line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
      mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>&nbsp;<o:p></o:p></span></p>
      </td>
     </tr>

    </table>
    </td>
   </tr>
   <tr style='mso-yfti-irow:2'>
    <td style='padding:0cm 0cm 0cm 0cm'>
    <div align=center>
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
     width="100%" style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:
     1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
     <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
      <td width=1 valign=top style='width:.75pt;background:#DDDDDD;padding:
      0cm 0cm 0cm 0cm'>

      <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
      line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
      mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES;
      mso-no-proof:yes'><!--[if gte vml 1]><v:shape id="Imagen_x0020_3" o:spid="_x0000_i1029"
       type="#_x0000_t75" alt=""
       style='width:.75pt;height:.75pt;visibility:visible;mso-wrap-style:square'>
       <v:imagedata src="Order%20Number_archivos/image003.gif" o:title="spacer"/>
      </v:shape><![endif]--><![if !vml]><img width=1 height=1
      src="Order%20Number_archivos/image004.gif"
      alt="" v:shapes="Imagen_x0020_3"><![endif]></span><span
      style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
      "Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
      </td>
      <td style='padding:0cm 0cm 0cm 0cm'>
      <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
      auto;line-height:normal'><b><span style='font-size:10.5pt;font-family:
      "Verdana","sans-serif";mso-fareast-font-family:"Times New Roman";
      mso-bidi-font-family:Arial;color:#CC6600;mso-fareast-language:ES'><br>


      <!-- INVOICE LINK -->
      <!-- a
      href="https://www.theprinterdepot.net/account_history_info.php?order_id=2235"><span
      style='mso-bidi-font-size:11.0pt'>Detailed Invoice</span></a -->


 </span></b><span
      style='font-size:9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
      "Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
      <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
       width="86%" style='width:86.0%;mso-cellspacing:0cm;mso-yfti-tbllook:
       1184;mso-padding-alt:3.75pt 3.75pt 3.75pt 3.75pt'>
       <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>Order
        Comments</span></b><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
       </tr>
       <tr style='mso-yfti-irow:1'>
        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'></td>
       </tr>
       <tr style='mso-yfti-irow:2'>
        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'></td>

       </tr>
       <tr style='mso-yfti-irow:3'>
        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <div class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
        "Times New Roman";mso-fareast-language:ES'>
        <hr size=2 width="100%" align=center>
        </span></div>
        </td>
       </tr>


       <!-- "PRODUCTS ORDERED" -->
       <tr style='mso-yfti-irow:4'>

        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>Products
        Ordered</span></b><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
       </tr>
       <!-- END OF "PRODUCTS ORDERED" -->


       <!-- PRODUCTS -->
<% for i in @order.order_items %>
       <tr style='mso-yfti-irow:5'>

        <!-- QUANTITY -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><%= i.quantity %></span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

        <!-- X -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>x</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

<% if i.kit %>
        <!-- MODEL & PRODUCT NAME -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal'>
        <span lang=EN-US style='font-size:9.0pt;font-family:"Arial","sans-serif";'>
           <b><%= "KIT#{i.kit.product.id} #{i.kit.kit_type.camelize} Kit for" %><br/>
           <%= "#{i.kit.product.name}" %></b>
           <% for p in i.kit.products %>
           <br/>
           <%= "#{p.name}" %>
           <% end %>
        </span>
        </p>
        </td>
<% else %>
        <!-- MODEL & PRODUCT NAME -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span lang=EN-US style='font-size:9.0pt;font-family:
        "Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-ansi-language:EN-US;mso-fareast-language:ES'><%= i.product_model %> (<%= i.product_name %>)</span><span lang=EN-US style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-ansi-language:EN-US;mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
<% end %>
        <!-- = -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>=</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

        <!-- TOTAL ITEM PRICE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>$<%= i.totalize_product %></span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
       </tr>

       <% if i.has_warranty? %>
       <tr style='mso-yfti-irow:5'>

        <!-- QUANTITY -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><%= i.quantity %></span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

        <!-- X -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>x</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

        <!-- WARRANTY TITLE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span lang=EN-US style='font-size:9.0pt;font-family:
        "Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-ansi-language:EN-US;mso-fareast-language:ES'><%= i.warranty.title %></span><span lang=EN-US style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-ansi-language:EN-US;mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

        <!-- = -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>=</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

        <!-- WARRANTY PRICE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>$<%= (i.warranty.price*i.quantity).to_s %></span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
       </tr>
       <% end %>

<% end %>
       <!-- END OF PRODUCTS -->




       <!-- "PRODUCTS TOTAL" -->
       <tr style='mso-yfti-irow:6'>


       <!-- SPC -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>&nbsp;</span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- SPC -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>&nbsp;</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- "PRODUCTS_SUBTOTAL" -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><b>Products total</b></span><span style='font-size:12.0pt;font-family:
        "Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- = -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><b>=</b></span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- PRICE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'><b>$<%= @order.totalize_products %></b></td>
       </tr>
       <!-- END OF "PRODUCTS TOTAL" -->

<% if !@order.discount.nil? %>
       <!-- "DISCOUNT" -->
       <tr style='mso-yfti-irow:6'>


       <!-- SPC -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>&nbsp;</span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- SPC -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>&nbsp;</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- "DISCOUNT NAME" -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><b>Discount: <%= @order.discount.name %></b></span><span style='font-size:12.0pt;font-family:
        "Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- = -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><b>=</b></span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- PRICE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
          <font color="#BF0500"><b>-$<%= @order.discount_price %></b></font>
        </td>
       </tr>
       <!-- END OF "DISCOUNT" -->
<% end %>


       <!-- SUBTOTAL -->
       <tr style='mso-yfti-irow:8'>

       <!-- "SUBTOTAL" -->
        <td colspan=3 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:right;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>Sub-Total:</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- = -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>=</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";'></span></p>
        </td>

       <!-- PRICE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal'>
        <span style='font-size:9.0pt;font-family:"Arial","sans-serif";'>
        $<%= @order.totalize_items-(@order.discount_price||0) %></span>
        <span style='font-size:12.0pt;font-family:"Times New Roman","serif";'></span>
        </p>
        </td>
       </tr>
       <!-- END OF SUBTOTAL -->


       <!-- TAXES -->
       <tr style='mso-yfti-irow:8'>

       <!-- "TAXES" -->
        <td colspan=3 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:right;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>Taxes:</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- = -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>=</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- PRICE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>$<%= @order.taxes %></span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
       </tr>
       <!-- END OF TAXES -->



       <!-- SHIPPING -->
       <tr style='mso-yfti-irow:9'>
       <!-- CARRIER AND METHOD -->
        <td colspan=3 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>

        <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:right;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><%= "#{@order.carrier} (#{@order.shipping_method}):" %></span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>


       <!-- = -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>=</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- PRICE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>$<%= @order.shipping_approx %></span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>

        </td>
       </tr>
       <!-- END OF SHIPPING -->

       <!-- TOTAL -->
       <tr style='mso-yfti-irow:10'>
       <!-- "TOTAL" -->
        <td colspan=3 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=right style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:right;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><b>TOTAL:</b></span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>

       <!-- = -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>=</span><span style='font-size:12.0pt;
        font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'><o:p></o:p></span></p>

        </td>

       <!-- PRICE -->
        <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><b>
<%= @order.total %>
</b>
</span><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
       </tr>

       <!-- HR -->
       <tr style='mso-yfti-irow:11'>
        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <div class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
        "Times New Roman";mso-fareast-language:ES'>

        <hr size=2 width="100%" align=center>
        </span></div>
        </td>
       </tr>


       <!-- WARRANTY PRICE -->
       <tr style='mso-yfti-irow:12'>

        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
         width="100%" style='width:100.0%;mso-cellspacing:0cm;mso-yfti-tbllook:
         1184;mso-padding-alt:3.75pt 3.75pt 3.75pt 3.75pt'>
         <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
          <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>

       <!-- delivery address -->
          <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
          line-height:normal'><b><span style='font-size:9.0pt;mso-bidi-font-size:
          11.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
          mso-fareast-language:ES'>Delivery Address</span></b><span
          style='font-size:9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
          "Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
          </td>

       <!-- Billing Address -->
          <td style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
          <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
          line-height:normal'><b><span style='font-size:9.0pt;mso-bidi-font-size:
          11.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
          mso-fareast-language:ES'>Billing Address</span></b><span
          style='font-size:9.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
          "Times New Roman";mso-fareast-language:ES'> <o:p></o:p></span></p>
          </td>
         </tr>


         <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
       <!-- DELIVERY INFO -->
          <td valign=top style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
          <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
          auto;line-height:normal'><span lang=EN-US style='font-size:9.0pt;
          font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
          mso-ansi-language:EN-US;mso-fareast-language:ES'>
<%= @order.delivery_name %><br />
<%= @order.delivery_street_address %><br />
<%= @order.delivery_city %>, <%= @order.delivery_state%>
<%= @order.delivery_postcode %><br />
<%= @order.delivery_country%>
<o:p></o:p></span></p>

          </td>

          <td valign=top style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
          <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
          line-height:normal'><span lang=EN-US style='font-size:9.0pt;
          font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
          mso-ansi-language:EN-US;mso-fareast-language:ES'>
<%= @order.billing_name %><br />
<%= @order.billing_street_address %><br />
<%= @order.billing_city %>, <%= @order.billing_state%>
<%= @order.billing_postcode %><br />
<%= @order.billing_country %>
<o:p></o:p></span></p>

          </td>
         </tr>
        </table>
        </td>
       </tr>

       <tr style='mso-yfti-irow:13'>
        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <div class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
        .0001pt;text-align:center;line-height:normal'><span style='font-size:
        12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
        "Times New Roman";mso-fareast-language:ES'>
        <hr size=2 width="100%" align=center>

        </span></div>
        </td>
       </tr>


       <!-- PAYMENT METHOD -->
       <!-- "PAYMENT METHOD" -->
       <tr style='mso-yfti-irow:14'>
        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><b><span style='font-size:9.0pt;mso-bidi-font-size:
        11.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
        mso-fareast-language:ES'>Payment Method</span></b><span
        style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
       </tr>

       <!-- PAYMENT METHOD-->
       <tr style='mso-yfti-irow:15;mso-yfti-lastrow:yes'>
        <td colspan=5 style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
        line-height:normal'><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'>
<%= @order.payment_method.capitalize %>
</span><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
        mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
        </td>
       </tr>
      </table>
      </td>
      <td width=1 valign=top style='width:.75pt;background:#DDDDDD;padding:
      0cm 0cm 0cm 0cm'>

      <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;
      line-height:normal'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
      mso-fareast-font-family:"Times New Roman";mso-fareast-language:ES;
      mso-no-proof:yes'><!--[if gte vml 1]><v:shape id="Imagen_x0020_7" o:spid="_x0000_i1028"
       type="#_x0000_t75" alt=""
       style='width:.75pt;height:.75pt;visibility:visible;mso-wrap-style:square'>
       <v:imagedata src="Order%20Number_archivos/image003.gif" o:title="spacer"/>
      </v:shape><![endif]--><![if !vml]><img border=0 width=1 height=1
      src="Order%20Number_archivos/image004.gif"
      alt="" v:shapes="Imagen_x0020_7"><![endif]></span><span
      style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
      "Times New Roman";mso-fareast-language:ES'><o:p></o:p></span></p>
      </td>
     </tr>
    </table>
    </div>
    </td>
    <td style='padding:0cm 0cm 0cm 0cm'></td>
   </tr>
   <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes'>

    <td style='padding:0cm 0cm 0cm 0cm'>
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
     width="100%" style='width:100.0%;mso-cellspacing:0cm;background:#DDDDDD;
     mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
     <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
      height:.75pt'>
      <td style='padding:0cm 0cm 0cm 0cm;height:.75pt'></td>
     </tr>
    </table>
    </td>
    <td style='padding:0cm 0cm 0cm 0cm'></td>
   </tr>

  </table>
  </div>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes'>
  <td style='padding:0cm 0cm 0cm 0cm'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
   style='width:100.0%;mso-cellspacing:0cm;background:#FFAA01;mso-yfti-tbllook:
   1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
    <td style='background:#0302FD;padding:0cm 0cm 0cm 0cm'>

    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center;line-height:normal'><span style='font-size:12.0pt;
    font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
    mso-fareast-language:ES'>&nbsp; <o:p></o:p></span></p>
    </td>
   </tr>
  </table>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
